@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

.social-proof-wrapper {
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}

.heading-ratings {
    display: flex;
    justify-content: space-between;
}

.heading-declaration {
    max-width: 50%;
    width: 100%;
}

h1 {
    font-size: 50px;
    max-width: 80%;
    color: hsl(300, 43%, 22%);
}

.heading-declaration p {
    max-width: 90%;
    line-height: 200%;
    font-size: 17px;
}

.ratings {
    max-width: 50%;
    width: 100%;
}

.ratings p {
    margin-left: 20px;
}

.ratings li {
    display: flex;
    align-items: center;
    font-weight: bold;
    max-width: 500px;
    padding: 1.5em;
    border-radius: 10px;
    margin-top: 1em;
    background: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
}

.ratings li:nth-child(2) {
    margin-left: 5em;
}

.ratings li:nth-child(3) {
    margin-left: 10em;
}

.ratings img {
    margin-left: 10px;
}

/* cards */

.testimonial-cards {
    margin: 2em 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    max-width: 400px;
    border-radius: 10px;
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    padding: 2em;
}

.card:nth-child(2) {
    margin-top: 3em;
}

.card:nth-child(3) {
    margin-top: 6em;
}

.img-user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 2em;
}

.img-user-name img {
    border-radius: 50%;
}

td {
    color: hsl(333, 80%, 67%);
}

.card p {
    word-wrap: break-word;
    line-height: 200%;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:1200px) {
    body {
        padding: 5px;
    }
    .social-proof-wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
    .card {
        max-width: 350px;
    }
    .ratings li:nth-child(2) {
        margin-left: 2.5em;
    }
    .ratings li:nth-child(3) {
        margin-left: 5em;
    }
}

@media screen and (max-width:1060px) {
    body {
        padding: 5px;
    }
    .heading-declaration h1, .heading-declaration p {
        max-width: 100%;
    }
    .card {
        max-width: 325px;
    }
    .ratings li:nth-child(2) {
        margin-left: 2.5em;
    }
    .ratings li:nth-child(3) {
        margin-left: 5em;
    }
}

@media screen and (max-width:1000px) {
    body {
        display: block;
    }
    h1 {
        font-size: 40px;
    }
    .social-proof-wrapper {
        margin-top: 5em;
    }
    .heading-declaration {
        max-width: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    .heading-ratings {
        flex-direction: column;
    }
    .ratings li {
        flex-direction: column;
    }
    .ratings li p {
        margin-top: 5px;
    }
    .ratings li:nth-child(2), .ratings li:nth-child(3) {
        margin-left: 0em;
    }
    .testimonial-cards {
        flex-direction: column;
        margin: 2em 0px;
        justify-content: start;
        align-items: flex-start;
    }
    .ratings {
        max-width: 100%;
    }
    .ratings li {
        max-width: 100%;
    }
    .card {
        max-width: 100%;
    }
    .card:nth-child(2), .card:nth-child(3) {
        margin-top: 1em;
    }
}

@media screen and (max-width:500px) {
    .social-proof-wrapper {
        max-width: 100%;
    }
    .img-user-name {
        max-width: 100%;
        justify-content: space-between;
    }
    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:350px) {
    .card {
        padding: 1em;
    }
}